.header1 {
    height: 80px
}
.navbar1 {
    height: 40px
}
.center1 {
    padding-top: 10px
}
.my-class1 {
    width: 560px;
    height: 700px;
    object-position: 5px 1%;
    object-fit: cover;
}
.pad {
    padding-top: 20px;
}
.img {
    width: 150px;
    object-fit: cover;
    padding-right: 15px;
}
.tabb {
    padding-top: 15px;
}
.color1 {
    color: aliceblue;
}
.color2 {
    color: rgb(0, 0, 0);
}